/venv/
/.idea/
*.pyc
.vscode/settings.json
wrs/robot_con/piper/policy/sem/ckpt/bert-base-uncased/
wrs/robot_con/piper/policy/sem/ckpt/
wrs/robot_con/piper/policy/sem/model/stack_blocks_three/model.safetensors
# 模型权重文件 - 避免推送到Git
*.pkl
*.safetensors
*.h5
*.pt
*.pth
*.pkl
*.onnx
wrs/robot_sim/_data_files/
wrs/robot_con/piper/policy/sem/model/
wrs/robot_con/piper/policy/sem1/
wrs/robot_con/piper/policy/test/
wrs/robot_con/piper/lerobot_robot_piper/
*.json
*.yaml
*.jpg
*.png
*.zip
*.picklewrs/robot_con/piper/policy/sem/workspace/encoder.onnx
*.stl
*.dae
*.STL*.stl
*.pkl
*.pt
*.onnx
*.dll
*.pdf
